body {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  display: block;
}

.start-button {
  top: 10rem;
  left: 5rem;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #85B8CB;
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  margin: 20px;
  z-index: 1000;
}
.start-button:hover {
  background-color: #1D6A96;
}

.title-text {
  font-size: large;
  font-weight: 700;
}