html, body {
  height: 100vh;
  margin: 0 auto;
}

body {
  background-image: url(./images/backgroundImage.png);
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center 80%;
  background-color: #324856;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100%;
}

.container {
  /* padding : 40px; */

}

.main-text {
  flex-direction: column;
  color: #FFF;
}

.sub-text {
  font-weight: 700;
}

.sub-text:hover {
  color: #D66C44
}

::selection {
  background-color: #D18237;
  
}
